.montserrat-inter {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* Shared Styles */
.primary-color {
    color: #4E47FF;
}

.primary-bg {
    background-color: #4E47FF;
    border: none;
    color: #ffffff;
    padding: 12px 36px;
    border-radius: 15px;
    font-size: 16px;
}

.primary-bg:hover {
    background-color: #2018fa;
    border: none;
    color: #ffffff;
    padding: 12px 36px;
    border-radius: 15px;
    font-size: 16px;
}

/* Header styles Started */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    align-items: center;

}

.nav-title {
    font-size: 34px;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
}

.navbar ul li {
    list-style: none;
}

.header {
    background-image: url('../images/Hero-bg.png');
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 698px;
}


.banner-heading {
    font-size: 65px;
    text-align: center;
    margin-bottom: 37px;
    padding-top: 158px;
}

.button-container {
    display: flex;
    justify-content: center;
    /* Horizontal center */
    align-items: center;
    /* Vertical center */
}

.action-heading {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.text-container h3 {
    color: #252432;
    font-size: 24px;
}

.action {
    background: #F5F8FF;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 400px;
    padding: 100px 0px;
}

.img-container img {
    border-radius: 40px;
}

.action-subheading {
    color: #8D8E98;
}

.productive-users {
    background-color: #F5F8FF;
    padding: 100px 0px;
}

.productive-heading {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
}

.items-heading {
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    margin: 0 0;
}

.productive-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.productive-wrapper {
    text-align: center;
    margin: 0 400px;
    background: #E0E3FF;
    padding: 50px;
    border-radius: 20px;
}

.productive-subheading {
    color: #83838A;
}

.rating-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 190px;
    margin-top: 5em;
}

.user-rating {
    background-color: #F5F8FF;
    padding: 25px 200px;
    padding-bottom: 5em;
}

.rating-items {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 40px;
}

.avator-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.avator-container img {
    border-radius: 50%;
    margin-right: 10px;
}

.focus-section {
    background-color: #F5F8FF;
    padding: 25px 0px;
}

.focus-container {
    margin: 0 400px;
    background-color: #ffffff;
    padding: 50px 50px;
    border-radius: 20px;
    text-align: center;

}

.focus-container img {
    border-radius: 50px;
}

.started-button {
    margin: 20px 0px;
}

.newsletter-text h1 {
    font-size: 90px;
    font-weight: bold;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;

}

.newsletter {
    background-color: #F5F8FF;
    padding: 100px 0px;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 400px;
    align-items: center;
    gap: 40px;
}

.form-text {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: medium;
    margin-bottom: 5px;
}

.newsletter-form input[type="email"],
.newsletter-form input[type="text"],
.newsletter-form textarea {
    height: 38px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
}

.input-fields {
    margin-top: 10px;
    width: 497px !important;
}

.footer-btn {
    display: block;
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #4E47FF;
    border: none;
    color: #ffffff;
    border-radius: 15px;
    font-size: 16px;
}

.footer-btn:hover {
    display: block;
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #1d16ec;
    border: none;
    color: #ffffff;
    border-radius: 15px;
    font-size: 16px;
}

textarea.input-fields {
    height: 100px;
    resize: both;
}